{{ define "main" }}
<div role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>{{ .Title }}</h1>
      {{ $tags := slice }}
      {{ with .Params.tags }}
      <div>
        <strong>Tags: </strong>
        {{ range . }}
          {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
          {{ $element := printf "<a href=\"%s\">%s</a>" $href . }}
          {{ $tags = $tags | append $element }}
        {{ end }}
        {{ delimit $tags ", " }}
      </div>
      {{ end }}
      {{ .Content }}
      {{ partial "disqus.html" . }}
    </div>
  </div>
</div>
{{ end }}
